//styles cua --box va text-box
.--box {
    @include flex(space-between, center);
    margin-bottom: 102px;
    .--text-box {
        padding: 0 0 0 var(--pb-text-box);
        .title {
            &::before {
                content: "";
                width: 76px;
                height: 2px;
                position: absolute;
                top: 50%;
                left: -96px;
                background: #555555;
            }
        }
    }
    .--img-box {
        height: var(--hProductImg);
        width: var(--wProductImg);
        position: relative;
        overflow: hidden;
        transition: all $t $cubic-bezier;
        img {
            max-width: var(--wProductImg);
            position: absolute;
            object-fit: cover;
            @include middle-item();
        }
    }
}

.--text-box {
    @include flex(center, flex-start);
    flex-direction: column;
    .title {
        font-size: 4rem;
        text-transform: uppercase;
        position: relative;
        line-height: 83.33px;
        letter-spacing: 0.7px;
    }
    .description {
        font-size: 1.6rem;
        width: 284px;
        @include dot-para-text(3);
        line-height: 20px;
    }
    .btn {
        color: $c-black;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.4rem;
        @include flex-align(center);
        position: relative;
        line-height: 58.33px;
        i {
            margin: 0 0 0 12px;
            @include flex-align(center);
        }
        .icon{
            width: initial;
            height: initial;
        }
        &::before {
            content: "";
            width: 38px;
            height: 2px;
            background: $color-default;
            position: absolute;
            left: 0;
            bottom: 15px;
            transition: all $t $cubic-bezier;
        }
        &:hover::before {
            left: calc(100% - 38px);
            transition: all $t $cubic-bezier;
        }
    }
}

// responsive
@media (max-width: 1199px) {
}

@media (max-width: 991px) {
    :root{
        --wProductImg: 320px;
        --hProductImg: 225px;
        --pb-text-box: 0;
    }
    .homepage {
        .--box {
            margin-bottom: 50px;
        }
        .--text-box {
            .title {
                font-size: 2rem;
                &::before {
                    display: none;
                }
            }
            .description {
                font-size: 1.4rem;
            }
            .btn {
                font-size: 1.2rem;
                &::before {
                    height: 1px;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    :root{
        --wProductImg: 257px;
        --hProductImg: 165px;
        --pb-text-box: 0;
    }
}
@media (max-width: 575px) {
    :root{
        --wProductImg: 100%;
        --hProductImg: 250px;
    }
    .homepage {
        .--box {
            flex-direction: column;
            margin-bottom: 20px;
            .--text-box {
                width: var(--wProductImg);
                .title {
                    font-size: 2rem;
                    &::before {
                        display: none;
                    }
                }
                .description {
                    font-size: 1.4rem;
                }
                .btn {
                    font-size: 1.2rem;
                    &::before {
                        height: 1px;
                    }
                }
            }
            &:last-child {
                flex-direction: column;
                text-align: start;
                .--text-box{
                    align-items: flex-start;
                }
            }
        }
    }
}
