
//styles cua --box va text-box
.--box{
    @include flex-justify(space-between);
        margin-bottom: 102px;
        .--text-box{
            padding: 0 0 0 96px;
            .title{
                &::before{
                    content: "";
                    width: 76px;
                    height: 2px;
                    position: absolute;
                    top: 50%;
                    left: -96px;
                    background: #555555;
                }
            }
            
        }
        .--img-box{
            height: 330px;
            width: 514px;
            position: relative;
            overflow: hidden;
            transition: all $t $cubic-bezier;
            img{
                min-width: 100%;
                min-height: 100%;
                max-width: 514px;
                position: absolute;
                object-fit: cover;
                transition: all $t $cubic-bezier;
                @include middle-item();
            }
            &:hover{
                transform: scale(0.9);
                transition: all $t $cubic-bezier;
            }
            &:hover img{
                transform: translate(-50%, -50%) scale(1.2);
                transition: all $t $cubic-bezier;
            }
        }
}

.--text-box{
    @include flex(center, flex-start);
    flex-direction: column;
    .title{
        font-size: 4rem;
        text-transform: uppercase;
        position: relative;
        line-height: 83.33px;
        letter-spacing: .7px;
    }
    .description{
        font-size: 1.6rem;
        width: 284px;
        @include dot-para-text(3);
        line-height: 20px;
    }
    .btn{
        color: $c-black;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.4rem;
        @include flex-align(center);
        position: relative;
        line-height: 58.33px;
        i{
            margin: 0 0 0 12px;
            @include flex-align(center);
        }
        &::before{
            content: '';
            width: 38px;
            height: 2px;
            background: $color-default;
            position: absolute;
            left: 0;
            bottom: 15px;
            transition: all $t $cubic-bezier;
        }
        &:hover::before{
            left: calc(100% - 38px);
            transition: all $t $cubic-bezier;
        }

    }
}