
html {
    box-sizing: border-box;
    font-size: 10px;
}

img{
    vertical-align: middle;
    max-width: 100%;
}

a{
   
    text-decoration: none;
}
button {
    cursor: pointer;
}

.hidden{
    display: none;
}

.bg-scroll{
    background: rgba(0, 0, 0, 0.9);
}

.icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    img{
        height: 100% ;
        width: 100%;
    }
    svg{
        height: 100% ;
        width: 100%;
    }
}

