
footer{
    height: 48px;
    background: #050505;
    .container{
        height: 100%;
        @include flex(space-between, center);
        color: #fff;
        font-size: 1.2rem;
        position: relative;
        .logo-ft{
            position: absolute;
            @include middle-item();
        }
        .back-to-top{
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}