header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    background: rgba(0, 0, 0, 0);
    transition: all 0.6s $cubic-bezier;
}

.navbar {
    height: 100%;
    position: relative;
    @include flex-justify(space-between);
    .logo {
        display: flex;
        align-items: center;
    }
    .menu {
        position: absolute;
        display: flex;
        height: 100%;
        @include middle-item();
        &__item {
            height: 100%;
            position: relative;
            a {
                @include text(1.5rem, pnb, normal, $c-white, uppercase);
                height: 100%;
                padding: 0 45px;
                @include flex-align(center);
            }
            @include hover-bar();
        }
    }
    .language {
        position: relative;
        &__current {
            height: 100%;
            @include flex(flex-end, center);
            cursor: pointer;
            span {
                color: #fff;
                padding-right: 2px;
                font-size: 12.5px;
                font-weight: 600;
            }
            img {
                height: 4px;
                width: 4px;
            }
        }
        &__list {
            width: 100%;
            @include flex-align(flex-end);
            flex-direction: column;
            position: absolute;
            visibility: hidden;
            opacity: 0;
            top: calc(50% + 30px);
            right: 4px;
            transition: all 0.6s;
            a {
                color: #fff;
                font-size: 1.25rem;
                padding-top: 4px;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
        &__current:hover + .language__list {
            visibility: visible;
            opacity: 1;
            top: calc(50% + 10px);
            transition: all 0.6s;
        }
    }
    .btn-menu{
        display: none;
        width: 50px;
        height: 100%;
        position: relative;
        span{
            height: 2px;
            width: 100%;
            position: absolute;
            @include middle-item();
            background: $color-default;
        }
        &::before, &::after{
            content: '';
            height: 2px;
            width: 100%;
            background: $color-default;
            position: absolute;
            left: 0;
        }
        &::after{
            bottom: 0;
        }

    }
}

// responsive
@media (max-width: 1199px) {
    .navbar {
        .menu {
            &__item {
                a {
                    padding: 0 25px;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .navbar {
        .logo {
            width: 150px;
            img {
                width: 100%;
            }
        }
        .menu {
            &__item {
                a {
                    padding: 0 15px;
                    font-size: 1.2rem;
                }
            }
        }
        .language {
            &__current {
                span {
                    font-size: 1.05rem;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    header {
        height: 50px;
    }
    .icon {
        width: 14px;
    }
    .navbar {
        .logo {
            width: 120px;
        }
        .menu {
            display: none;
        }
        .btn-menu{
            display: block;
        }
    }
    
}
@media (max-width: 575px) {
}
