header {
    width: 100%;
    height: var(--h-header);
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 300;
    background: rgba(0, 0, 0, 0);
    transition: all 0.6s $cubic-bezier;
    transform: translateX(-50%);
}

.container-fluid {
    max-width: 1600px;
    height: 100%;
    position: relative;
    @include flex(space-between,center);
    .logo {
        display: flex;
        align-items: center;
    }
    .menu {
        position: absolute;
        display: flex;
        height: 100%;
        @include middle-item();
        &__item {
            height: 100%;
            a {
                @include text(1.5rem, pnb, normal, $c-white, uppercase);
                height: 100%;
                margin: 0 25px;
                position: relative;
                @include flex-align(center);
                @include hover-bar();
                &.active::before{
                    transform: scaleX(1);
                    transform-origin: center right;
                    transition: all $t $cubic-bezier;
                }
            }
            
        }
    }
    .right{
        display: inline-flex;
    }
    .language {
        position: relative;
        &__current {
            height: 100%;
            @include flex(flex-end, center);
            cursor: pointer;
            span {
                color: #fff;
                padding-right: 2px;
                font-size: 12.5px;
                font-weight: 600;
            }
            .language__btn{
                width: 14px;
                height: 14px;
                transition: $t $cubic-bezier;
                img {
                    height: 100%;
                    width: 100%;
                    display: block;
                }
                &.click{
                    transform: rotate(180deg);
                    transition: $t $cubic-bezier;

                }
            }
        }
        &__list {
            width: 100%;
            @include flex-align(flex-end);
            flex-direction: column;
            position: absolute;
            visibility: hidden;
            opacity: 0;
            top: calc(50% + 30px);
            right: 4px;
            transition: all 0.6s;
            a {
                color: #fff;
                font-size: 1.25rem;
                padding-top: 4px;
                text-transform: uppercase;
                font-weight: 600;
            }
            &.active{
                visibility: visible;
                opacity: 1;
                top: calc(50% + 10px);
                transition: all 0.6s;
            }
        }
            
    }
    .btn-menu{
        display: none;
        width: 40px;
        position: relative;
        height: 26px;
        margin-left: 20px;
        span{
            height: 2px;
            width: 100%;
            position: absolute;
            @include middle-item-y();
            background: $color-default;
            transition: $t $cubic-bezier;
        }
        &::before, &::after{
            content: '';
            height: 2px;
            width: 100%;
            background: $color-default;
            display: block;
            transition: $t $cubic-bezier;
            transform: translate(0,0) rotate(0);
            transform-origin: center left;
        }
        &::after{
            bottom: 0;
            position: absolute;
        }
        &.clicked{
            span{
                opacity: 0;
                visibility: hidden;
                transition: $t $cubic-bezier;
            }
            &::before{
                transform: translate(3px,-3px) rotate(45deg);
                transform-origin: center left;
                transition: $t $cubic-bezier;
            }
            &::after{
                transform: translate(2px, 1px) rotate(-45deg);
                transform-origin: center left;
                transition: $t $cubic-bezier;
            }
        }

    }
}

// responsive
@media (max-width: 1199px) {
    
}
@media (max-width: 991px) {
    .container-fluid {
        .logo {
            width: 150px;
            img {
                width: 100%;
            }
        }
        .menu {
            &__item {
                a {
                    padding: initial;
                    margin: 0 20px;
                    font-size: 1.2rem;
                }
            }
        }
        .language {
            &__current {
                span {
                    font-size: 1.05rem;
                }
            }
        }
    }
    
}
@media (max-width: 767px) {
    :root{
        --h-header: 50px;
    }
    
    .container-fluid {
        .logo {
            width: 120px;
        }
        .menu {
            flex-direction: column;            
            @include flex(center,center);
            &__item{
                height: 50px;
                a{
                    font-size: 2rem;
                }
            }
        }
        .btn-menu{
            display: block;
            z-index: 302;
        }
        .menu{
            width: 100vw;
            height: 100vh;
            position: fixed;
            display: flex;
            transform: initial;
            background: $c-black;
            top: -100vh;
            left: 0;
            z-index: 301;
            transition: $t $cubic-bezier;
            &.active{
                top: 0;
                transition: $t $cubic-bezier;
            }
        }
    }
    
}
@media (max-width: 575px) {
}
