
:root{
    --pd-section: 90px;
    --h-header: 80px;
    --h-slider: 100vh;
    --pb-text-box: 96px;
    --hProductImg: 330px;
    --wProductImg: 514px;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
html,
body {
    width: 100%;
    max-width: $max-width;
    -webkit-font-smoothing: antialiased;
    margin: auto;
    @include text($fz-text, pnr, $lh-text, $text-cl, none);
    background: $c-white;
    position: relative;
    scroll-behavior: smooth;
    // @include custom-scrollbar();
    main {
        width: 100%;
        margin: auto;
        overflow: hidden;
        section{
            padding: var(--pd-section) 0;
        }
    }
    @include desktop {
    }
    @include tablet {
    }
    @include mobile {
    }
}


// .container{
//     width: 100%;
//     padding-left: 15px;
//     padding-right: 15px;
//     margin-left: auto;
//     margin-right: auto;
// }

// .container-fluid{
//     width: 100%;
//     padding-left: 15px;
//     padding-right: 15px;
//     margin-left: auto;
//     margin-right: auto;
// }

// @media (min-width: 1200px){
//     .container{
//         max-width: $container-w;
//     }
// }
// @media (min-width: 992px){
//     .container{
//         max-width: 960px;
//     }
// }
// @media (max-width: 768px){
//     .container{
//         max-width: 720px;
//     }
// }
// @media (max-width: 576px){
//     .container{
//         max-width: 540px;
//     }
// }

// responsive
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 576px) {
}