
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1200px){
    .container{
        max-width: $container-w;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}
@media (max-width: 768px){
    .container{
        max-width: 720px;
    }
}
@media (max-width: 576px){
    .container{
        max-width: 540px;
    }
}